{% extends 'base.html' %}

{% block title %}关于 | {{ admin.blog_title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ admin.blog_description }}">
    <meta name="keywords" content="{{ admin.blog_title }}">
{% endblock %}

{% block jumbotron %}
    {% include 'blog/_jumbotron.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            {{ admin.about|safe }}
        </div>
        <div class="col-sm-4">
            {% include 'blog/_sidebar.html' %}
        </div>
    </div>
{% endblock %}