{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block title %}{{ admin.blog_title }}{% endblock %}

{% block jumbotron %}
    {% include 'blog/_jumbotron.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            {% include 'blog/_posts.html' %}
            {% if posts %}
                <br>
                <br>
                <div class="page-footer">{{ render_pagination(pagination) }}</div>
            {% endif %}
        </div>
        <div class="col-sm-4 sidebar">
            {% include 'blog/_sidebar.html' %}
        </div>
    </div>
{% endblock %}